body {
    color: #737a7f;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    line-height: 25px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0!important;
}

.upper-case {
    text-transform: uppercase;
}

.margb20 {
    margin-bottom: 20px;
}
.margt30 {
    margin-top: 30px;
}

.txtct {
    text-align: center;
}
h2 {
    font-family: 'latoregular';
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
}
h1, h2, h3, h4, h5, h6 {
    color: #239fd9;
}

.size20 {
    font-size: 20px;
}

.margt10 {
    margin-top: 10px;
}

.span4 {
    width: 31.914893617021278%;
}

.paddt15 {
    padding-top: 15px;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.green-text {
    color: #2faa26;
}

.orange-link, a.orange-link, a.orange-link:hover, a.orange-link:visited {
    color: #f47621;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.margl0 {
    margin-left: 0 !important;
}
.margb50 {
    margin-bottom: 50px;
}

.white-link, a.white-link, a.white-link:hover, a.white-link:visited {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.inline-button {
    display: inline-block;
}
.paddl30 {
    padding-left: 30px;
}

.paddb10 {
    padding-bottom: 10px;
}
.paddt10 {
    padding-top: 10px;
}
.paddr30 {
    padding-right: 30px;
}

.orange-bg {
    background: #f47621;
}

.rounded4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#block-block-17{
    min-height: 505px;
}


.read-more-here-top-slant {
    background-color: #EBF8FE;
    height: 70px;
    display: block;
    position: relative;
    top: 20px;
    z-index: 2;
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    margin-top: -60px;
    width: 100.09%;
}

.read-more-here-block {
    // background-image: url(../img/hero-people-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5D8376;
    background-position: 0 57%;
    min-height: 180px;
    display: block;
    position: relative;
    margin-right: 0;
    margin-top: -15px;
    color: #FFFFFF;
}

.container.main{
    padding: 0px 0px!important;
    width: 100%;
}

.container-xp-business > .span2 {
    width: 120px;
}

.container-xp-business > .span10 {
    width: 800px;
}
.margl0 {
    margin-left: 0 !important;
}
.txtrt {
    text-align: right;
}
.container-xp-business > .span12 {
    width: 940px;
}

.light-blue-bg {
    background: #EBF8FE;
}

.margb60 {
    margin-bottom: 60px;
}

.margt20 {
    margin-top: 20px;
}

a.venobox img:hover {
    box-shadow: 0 3px 5px #000;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

a.venobox img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

a.venobox, a.venobox img {
    outline: none;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.caption-top-right:before {
    top: 10px;
    right: 10px;
}

.caption-top-right:before {
    font-family: 'xendpayregular';
    content: "<";
    position: absolute;
    font-weight: 800;
    background: #2a637d;
    background: rgba(42,99,125,0.75);
    /* text-shadow: 0 0 3px white; */
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    line-height: 24px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    /* -webkit-transition: all 0.6s ease; */
    /* -moz-transition: all 0.6s ease; */
    /* -o-transition: all 0.6s ease; */
    /* transition: all 0.6s ease; */
    opacity: 0.75;
}

.caption-top-right {
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.caption-top-right .caption-top-right-text {
    top: 10px;
    right: -30%;
}

.caption-top-right-text {
    position: absolute;
    background: black;
    background: rgba(42,99,125,0.85);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    width: 300px;
    font-size: 15px;
    line-height: 17px;
    font-style: italic;
}

.caption-top-right:hover:before {
    opacity: 0;
}

.caption-top-right:hover .caption-top-right-text {
    right: 0;
}
.caption-top-right:hover .caption-top-right-text {
    opacity: 1;
}

.white-grey-bg {
    background: #F1F2F2;
}

.paddb30 {
    padding-bottom: 30px;
}

.margt60 {
    margin-top: 60px;
}

.trustpilot-widget{
    max-height: 300px;
    height: auto;
    position: relative;
}

.trustpilot-widget>iframe{
    position: relative; 
    height: 270px; 
    width: 100%; 
    border-style: none; 
    display: block; 
    overflow: hidden;
}

.margt50 {
    margin-top: 50px;
}

@media screen and (max-width: 767px){
    .good-for-the-pocket{
        text-align: center;
    }
    .offset-youtube{
        margin-left: 33.3333%
    }
}

@media screen and (min-width: 560px){
    #trust-pilot-box {
        height: 190px !important;
        overflow: hidden;
    }
    #review-box-read-more {
        margin-top: -130px;
        position: relative;
    }
}


@media (min-width: 1200px){
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
}

@media all and (max-width: 1200px){
    .star{
        top: -37px!important;
    }
}


.margr20 {
    margin-right: 20px;
}

.margb10{
    margin-bottom: 10px;
}

.container-xp-business { padding-top: 600px; }
.container-xendpay-business{ padding-top: 60px;}
.container-xp-business .span12 { margin-top: 0; }
@media (max-width: 480px) {  
  .read-more-here-top-slant { display: none; }
  .read-more-here-block { height: auto; }
  .container-xp-business { padding-top: 0; }
  .container-xp-business .span2, .container-xp-business .span10 { text-align: center; width: 100%; }
  .container-xp-business .span2 img { margin-top: 0; }
  .container-xp-business .span10 .white-text { padding: 0 20px; line-height: 28px; margin-bottom: 10px; }
  .container-xp-business .span12 { margin-top: 0; text-align: center; }
  .container-raf .span8, .container-raf .span2 { width: 100%; margin-top: 0; text-align: center; }
}

@media all and (max-width: 992px){
    #block-block-17{
        min-height: 550px!important;
    }
    .white-trans-bg{
        background-color: rgba(255,255,255,0.6)!important;
    }
}

@media (max-width: 524px) {
    #FORM7 > form > .form-group{
        width: 100%;
    }
    .form-group.col-md-7.col-sm-7.col-xs-7.col-lg-7.box64{
        padding-right: 0px;
        padding-left: 0px!important;
    }
    #FORM7 > form > .button-send-now{
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    #FORM7 > form > span>.contact-infor{
        text-align: center;
        width: 50%;
    }
}

.star{
    top: -116px;
}

#platform-frame{
    width: 100%; 
    min-height: 500px; 
    border: 0px; 
    overflow: hidden; 
    height: 500px;
}

#main-slider{
    background-color: #239fd9;
    float: left;
    position: relative;
    z-index: -10;
    width: 100%;
}

.deep-blue-bg {
    background: #2a637d;
}

.size18 {
    font-size: 18px;
}

.white-text {
    color: #FFFFFF !important;
}

.intro-text-box {
    padding: 10px;
}

.intro-text-1 {
    font-size: 39px;
    font-family: 'Open Sans', sans-serif;
    line-height: 52px;
    color: #FFFFFF;
    margin-top: -5px;
    text-transform: uppercase;
}

.intro-text-2 {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #FFFFFF;
}

#BOX64 > .container-fluid.widget-content{
    border-radius: 10px;
}

#BOX64 > .widget-content {
    background-color: rgba(215,223,220,1);
    color: rgba(0,0,0,1);
    box-shadow: 0px 0px 17px rgba(0,0,0,1);
}

#HEADLINE65{
    text-align: center;
}

#HEADLINE65 > .widget-content {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,1);
    font-weight: 400;
    line-height: 31px;
    font-size: 25px
}

.form-group.col-md-5.col-sm-5.col-xs-5.col-lg-5.box64{
    padding-left: 0px;
    padding-right: 0px;
}

.form-group.col-md-7.col-sm-7.col-xs-7.col-lg-7.box64{
    padding-right: 0px;
    padding-left: 10px;
}

#FORM7 > form > .form-group{
    border-radius: 3px;
}

#FORM7 > form > .form-group > input{
    height: 40px;
}

#FORM7 > form > .form-group > input, textarea{
    border: 1px solid #eee;
}

#GROUP6{
    margin-bottom: 20px;
}

button.widget-element.widget-snap.style-1{
    padding: 15px 30px;
    background-color: rgba(27,109,147,1);
    font-family: 'Open Sans';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    font-weight: 700;
    line-height: 22px;
    border-radius: 5px;
}

.nopadding{
    padding: 0px 0px!important
}

.red-txt{
    color: red;
}


a, a:hover, a:active, a.active, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

.linehgt50 {
    line-height: 50px;
}
.size28 {
    font-size: 28px;
}

.underlined {
    text-decoration: underline;
}
.white-text {
    color: #FFFFFF !important;
}

.platform-holder {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyzACvHp1ZlJQjniR-y-3f2Gz9uT3Dg1JruTBOMpI_zoAWipoh) no-repeat;
    width: 100%;
    background-size: cover;
}